{% load static %}
<style>
  .hello-msg {
  margin: 10px;
  }
</style>
 <nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #0065A5 !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'auditlogs' %}">Audit logs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users' %}">Users</a>
      </li>
      {% endif %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Regions</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/region/asia">Asia</a></li>
                    <li><a class="dropdown-item" href="/region/africa">Africa</a></li>
                    <li><a class="dropdown-item" href="/region/europe">Europe</a></li>
                    <li><a class="dropdown-item" href="/region/northamerica">North America</a></li>
                    <li><a class="dropdown-item" href="/region/southamerica">South America</a></li>
                    <li><a class="dropdown-item" href="/region/australia">Australia</a></li>
                </ul>
            </li>
             <li class="nav-item active">
              <a class="nav-link" href="{% url 'locations' %}">All Locations</a>
            </li>
        </ul>
    </div>

  </div>

  <span class="hello-msg">Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>